@using K9.SharedLibrary.Extensions
@model K9.WebApplication.Models.ChakraCodeDetails

@{
    var typeClass = Model.TypeName.RemoveSpaces();
}

<div class="chakra-code-container @typeClass-container">
    <h3>@(Model?.TypeName)</h3>
    <div class="chakra-code @typeClass" style="background-color: @Model.Colour.ToLower();">
        <div>
            <p class="chakra-code-number">@Model.ChakraCodeNumber</p>
            <p>@Model.Name</p>
        </div>
    </div>
</div>