@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            @Html.Partial("_ChakraCode", Model.Dominant)
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.SubDominant)
            </div>
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.Guide)
            </div>
            <div class="col-xs-4 padding-2">
                @Html.Partial("_ChakraCode", Model.Gift)
            </div>
            <div class="col-xs-12">
                @Html.Partial("_ChakraCodesTimeline", Model)
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-8">
                <div class="col-xs-4">
                    <br />
                    @Html.Partial("_ChakraCode", Model.CurrentYear)
                </div>
                <div class="col-xs-4">
                </div>
            </div>
        </div>
    </div>
