@model K9.WebApplication.Models.ChakraCodesModel

<div class="well">
    <div class="row">
        <div class="col-xs-3">
            <strong>Age</strong>
        </div>
        <div class="col-xs-3">
            <strong>Year</strong>
        </div>
        <div class="col-xs-3">
            <strong>Chakra Code</strong>
        </div>
        <div class="col-xs-3">
            <strong>Dharmic Chakra Code</strong>
        </div>
    </div>
    @{
        var group = Model.FirstDharmaCode.DharmaGroupChakraCodeNumber;

        foreach (var code in Model.DharmaCodes)
        {
            <div class="row">
                <div class="col-xs-3">
                    @code.Age
                </div>
                <div class="col-xs-3">
                    @code.Year
                </div>
                <div class="col-xs-3">
                    @code.ChakraCodeNumber
                </div>
                <div class="col-xs-3">
                    @code.DharmaChakraBaseCodeNumber / @code.DharmaChakraCodeNumber (Group @code.DharmaGroupChakraCodeNumber)
                </div>
            </div>

            if (code.DharmaGroupChakraCodeNumber != group)
            {
                <br />
                <hr />
                group = code.DharmaGroupChakraCodeNumber;
            }
        }
    }
</div>