@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.ChakraCodesModel
@{
    Layout = "../Shared/_LayoutFormWide.cshtml";
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        <article>
            <h2 class="text-center">Chakra Codes</h2>

            <br />

            <div class="chakra-image-container">
                <img class="chakra-image" src="~/Images/chakracodes/chakra-person.jpg" />
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-5 col-sm-12 padding-0">
                    @Html.Partial("_Calculator")
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 padding-right-0">
                    @if (Model?.IsProcessed == true)
                    {
                        @Html.Partial("_ChakraCodesMain")

                        @Html.Partial("_ChakraCodesYearPlanner")

                        @Html.Partial("_ChakraCodesMonthlyPlanner")

                        @Html.Partial("_ChakraCodesDailyPlanner")
                        
                        @Html.Partial("_ChakraCodesYearlyPlanner")
                    }
                </div>
            </div>
        </article>
    </div>
</div>

<script type="text/javascript">

    $(function() {
        $(".chakra-code-planner-item").click(function() {
            var forecastType = $(this).attr("data-forecast-type");
            var offset = $(this).attr("data-offset");

            ajaxcontroller().get("@Url.Action("CalculateForecast", "Chakra")",
                {
                    forecastType: forecastType,
                    offset: offset
                });
        });
    });

</script>